@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;700&display=swap');

:root {
    --primary: #29f62d;
    --secondary: #002d04;
    --accent: #ffbb00;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    position: relative;
}

/* TEXT */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.heading-span {
    background: -webkit-linear-gradient(left, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-icon {
    width: 40px;
}

p {
    font-size: 1rem;
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

.orange-text {
    color: var(--accent);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}

.green-text {
    color: var(--primary);
}

/* DIV'S, BUTTON'S, LIST'S, SECTION'S */
.inline-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inline-div.full-width {
    width: 100%;
}

.inline-div.bigger-gap {
    gap: 80px;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.centered-div.left {
    align-items: start;
}

.centered-div.left p {
    text-align: start;
}

.centered-div p {
  text-align: center;
}

section {
    width: 100%;
    padding: 10vh 0 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.container {
    width: 90vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container.smaller {
    width: 70vw;
}

.primary-button {
    padding: 15px 25px;
    background-color: var(--accent);
    border: 0;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms ease-in;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}

.primary-button:hover {
    box-shadow: 1px 1px 5px var(--accent);
}

.primary-button.green {
    background-color: var(--primary);
}

.primary-button.green:hover {
    box-shadow: 1px 1px 5px var(--primary);
}

.secondary-button {
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: var(--primary);
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms ease-in;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}

.secondary-button:hover {
    box-shadow: inset 230px 0px 5px var(--primary);
    color: white;
}

.secondary-button.active {
    box-shadow: inset 230px 0px 5px var(--primary);
    color: white;
    margin-top: -10px;
}

ul {
    padding: 0;
}

/* GRID */
.grid-2-col {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.grid-2-col.bigger-left {
    grid-template-columns: 1.5fr 1fr;
}

.grid-2-col.bigger-right {
    grid-template-columns: 0.5fr 2fr;
}

.no-horisontal-gap {
    gap: 20px 0;
}

.grid-3-col {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.centered-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.left-centered-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.left-centered-cell.justify {
    justify-content: space-between;
}

.right-centered-cell {
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* NAVBAR */
.menu-toggle {
    display: none;
}

.logo {
    width: 120px;
    border-radius: 10px;
}

nav {
    padding: 10px 5vw;
    background-color: transparent;
    position: fixed;
    top: 0; left: 0; right: 0;
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 300ms ease-in-out;
}

nav.hide {
    transform: translateY(-100%);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 200ms ease-in;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;     
    height: 2px;
    background: var(--accent);
    transition: width 300ms ease-in-out; 
}

.nav-link:hover {
    color: var(--accent);
}

.nav-link:hover::after {
    width: 100%; 
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;     
    left: 0;    
    min-width: 120px;
    background: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1002;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

/* HOMEPAGE */
.hero-section {
    height: 100vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

#my-video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.right-border {
    padding: 10px 20px;
    border-right: 2px solid var(--primary);
}

.stats-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.stats-span {
    font-size: 4rem;
    color: var(--primary);
}

.home-services-section {
    background-image: linear-gradient(black, var(--secondary));
}

.services-card {
    border: 2px solid var(--primary);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--primary);
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.right-arrow {
    width: 35px;
    margin-left: -12px;
}

.services-link {
    cursor: pointer;
}

.services-link .right-arrow {
    transition: all 300ms ease-in-out;
}

.services-link:hover .right-arrow {
    transform: translateX(10px);
}

.home-gym-section {
    background-image: linear-gradient(var(--secondary), black);
}

.gym-card {
    border: 2px solid var(--accent);
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--accent);
}

.gym-card.gym1 {
    background-image: url("/static/slike/gym1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.gym-card.gym2 {
    background-image: url("/static/slike/gym2.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.gym-card.gym3 {
    background-image: url("/static/slike/gym3.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.black-mask {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.team-section {
     background-image: linear-gradient(black, var(--secondary));
}

.team-card {
    height: 50vh;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--primary);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.team-card#dejan {
    background-image: url("/static/slike/dejan.jpg");
}

.team-card#mali {
    background-image: url("/static/slike/mali.jpg");
}

.team-card#somi {
    background-image: url("/static/slike/somi.jpg");
}

.team-card#markec {
    background-image: url("/static/slike/markec.jpg");
}

.team-name {
    height: 100%;
    padding: 30px 10px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    transform: translateY(100%);
    transition: all 300ms;
}

.team-card:hover .team-name {
    transform: translateY(0);
}

.testimonial-section {
    background-image: linear-gradient(var(--secondary), black);
}

.testimonial-img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.slider {
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--accent);
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
    gap: 30px;
}

.nav-btn {
    position: absolute;
    bottom: -15px;
    transform: translateY(-50%);
    background: white;
    color: var(--primary);
    font-size: 1.5rem;
    border: none;
    border-radius: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { left: 70px; }

.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s;
}

.slider-dot.active {
    background: var(--accent);
    opacity: 1;
}

.cta-section {
    background-image: linear-gradient(black, var(--secondary));
}

.cta-card {
    padding: 100px;
    border-radius: 10px;
    background-image: url("/static/slike/gym3-dark.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.cta-card p {
    width: 60%;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 15vh 0 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--secondary), black);
}

.footer-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.small-icon {
    width: 30px;
}

.footer-logo {
    border-radius: 10px;
    width: 240px;
}

.legals {
    margin-top: 100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ABOUT PAGE */
.about-hero-section {
    height: 90vh;
    background-image: linear-gradient(black, var(--secondary));
}

.about-img {
    width: 100%;
    border-radius: 10px;
} 

.about-gym-section {
    background-image: linear-gradient(var(--secondary), black);
}

.circle {
    border: 2px solid var(--primary);
    border-radius: 100%;
    padding: 5px 20px;
    font-size: 2rem;
}

.line {
    border: 1px solid var(--primary);
    width: 1px;
    height: 100px;
}

.founder-section {
    background-image: linear-gradient(black, var(--secondary));
}

.team-about-section {
    background-image: linear-gradient(var(--secondary), black);
}

.team-about-card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 5px var(--accent);
    border-radius: 10px;
    margin: 15px 0 15px 0;
}

.team-card-img {
    width: 30vw;
    border-radius: 10px;
}

/* Cela traka scrolla */
.service-popup::-webkit-scrollbar {
    width: 5px;        /* širina scrollbara */
}

/* Pozadina trake scrolla */
.service-popup::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);  
    border-radius: 10px;
}

/* Klizač scrolla */
.service-popup::-webkit-scrollbar-thumb {
    background: var(--accent);  /* koristiš boju sajta */
    border-radius: 10px;
}

/* Klizač hover */
.service-popup::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

/* CONTACT PAGE */
.contact-hero-section {
    padding: 25vh 0 15vh 0;
    background-image: linear-gradient(var(--secondary), black);
}

form {
    width: 100%;
}

input.primary-button {
    width: auto;
}

input,
textarea {
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: 1px solid var(--accent);
    width: 100%;
    margin-bottom: 15px;
}

input:focus,
textarea:focus {
    border: 1px solid var(--primary);
    outline: none;
}

/* BLOG PAGE */
.blog-section {
    padding-top: 25vh;
    background-image: linear-gradient(var(--secondary), black);
}

.blog-small-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

/* BLOG POST PAGE */
.blog-post-hero {
    padding-top: 25vh;
    background-image: linear-gradient(var(--secondary), black);
}

.blog-img-div {
    width: 100%;
    height: 50vh;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-big-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog-post-heading {
    position: absolute;
}

.sticky-div {
    position: sticky;
    top: 20%;
}

.sticky-div ol li {
    margin-bottom: 10px;
}

/* GYM PAGES */
.gym-hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.gym-hero-section.gym1 {
    background-image: url("/static/slike/gym1-dark.png");
}

.gym-hero-section.gym2 {
    background-image: url("/static/slike/gym2-dark.png");
}

.gym-hero-section.gym3 {
    background-image: url("/static/slike/gym3-dark.png");
}

.down-arrow {
    transform: rotate(90deg);
    transition: all 200ms ease-in;
}

.down-arrow:hover {
    transform: rotate(90deg) translateX(10px);
}

.gym-info-section {
    background-image: linear-gradient(black, var(--secondary));
}

.map {
    width: 100%;
    border-radius: 10px;
}

.about-gym-section {
    background-image: linear-gradient(var(--secondary), black);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.gym-small-img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--primary);
}

.gym-services-section {
    background-image: linear-gradient(black, var(--secondary));
}

.gym-services-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--accent);
    gap: 15px;
}

.gym-services-card ul {
    padding-left: 20px;
}

.gym-services-card ul li {
    margin-bottom: 10px;
}

.gym-services-img {
    width: 100%;
    border-radius: 10px;
}

.gym-gallery-section {
    background-image: linear-gradient(var(--secondary), black);
}

.tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    margin-top: 50px;
}

.gallery-grid {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.gallery-grid.active {
    display: grid;
    align-items: center;
    justify-content: center;
}

.gallery-item {
    width: 100%;
    height: 300px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.03);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center;
}

.lightbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#lightbox-img {
    max-width: 80%;
    max-height: 80%;
    width: 50vw;
    height: 70vh;
    object-fit: contain;
    transition: opacity 0.3s;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.lightbox-nav {
    margin-top: 20px;
}

.lightbox-nav button {
    opacity: 1;
    transition: opacity 0.3s;
}

.lightbox-nav button.hidden {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.prev-btn, .next-btn {
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.services-section {
    padding-top: 25vh;
    background-image: linear-gradient(var(--secondary), black);
}

.popup-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 10000;
}

.popup-mask.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 30vh 0 0 0;
}

.service-popup {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 1px 1px 5px var(--accent);
    background-color: black;
    display: none;
    gap: 20px;
    max-height: 80vh; 
    overflow-y: auto;
}

.service-popup.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.popup-img {
    width: 80%;
    height: 400px;
    border-radius: 10px;
}

.close-popup-btn {
    font-size: 1.5rem;
    color: var(--accent);
    position: absolute;
    top: 10px; right: 20px;
    cursor: pointer;
}