<footer>
    <div class="footer-container">
        <div class="centered-div">
            <a href="/">
                <img class="footer-logo" src="{{ url_for('static', filename='slike/logo.png') }}" alt="logo">
            </a>
        </div>

        <div class="inline-div bigger-gap">
            <div class="centered-div left">
                <h4>GYM 1</h4>
                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/clock.png') }}" alt="ikonica sata">
                    <p>06:00h - 22:00h, ponedeljak - subota</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/location.png') }}" alt="ikonica lokacije">
                    <p>Stevana Borote 11, Ub</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/phone.png') }}" alt="ikonica telefona">
                    <p>069-3478669</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/email.png') }}" alt="ikonica mejla">
                    <p>dejan.mladenovic992@gmail.com</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/instagram.png') }}" alt="ikonica instagrama">
                    <a href="https://www.instagram.com/fitness_centar_spartans_gym/" target="_blank">fitness_centar_spartans_gym</a>
                </div>
            </div>

            <div class="centered-div left">
                <h4>GYM 2</h4>
                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/clock.png') }}" alt="ikonica sata">
                    <p>06:00h - 22:00h, ponedeljak - subota</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/location.png') }}" alt="ikonica lokacije">
                    <p>Lajkovac</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/phone.png') }}" alt="ikonica telefona">
                    <p>069-3478669</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/email.png') }}" alt="ikonica mejla">
                    <p>dejan.mladenovic992@gmail.com</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/instagram.png') }}" alt="ikonica instagrama">
                    <a href="https://www.instagram.com/fitness_centar_spartans_gym_la/" target="_blank">fitness_centar_spartans_gym_la</a>
                </div>
            </div>

            <div class="centered-div left">
                <h4>GYM 3</h4>
                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/clock.png') }}" alt="ikonica sata">
                    <p>08:00h - 22:00h, ponedeljak - subota<br>10:00h - 22:00h, nedelja</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/location.png') }}" alt="ikonica lokacije">
                    <p>Prvog Maja 61, Ub</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/phone.png') }}" alt="ikonica telefona">
                    <p>069-3478669</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/email.png') }}" alt="ikonica mejla">
                    <p>dejan.mladenovic992@gmail.com</p>
                </div>

                <div class="inline-div">
                    <img class="small-icon" src="{{ url_for('static', filename='slike/instagram.png') }}" alt="ikonica instagrama">
                    <a href="https://www.instagram.com/fitness_centar_spartans_gym_3/" target="_blank">fitness_centar_spartans_gym_3</a>
                </div>
            </div>
        </div>
    </div>

    <div class="legals">
        <p>© 2025 Fitness Centar Spartans Gym. Sva prava zadržana.</p>
    </div>
</footer>