<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Title block
        {% endblock title %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='slike/logo.ico') }}">
    <meta name="description" content="{% block description %} Description {% endblock description %}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include "navbar.html" %}

    {% block content %}{% endblock content %}

    {% include "cta.html" %}

    {% include "footer.html" %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>