<nav>
    <a href="/">
        <img class="logo" src="{{ url_for('static', filename='slike/logo.jpeg') }}" alt="logo">
    </a>

    <ul class="nav-links">
        <li><a class="nav-link" href="/">Početna</a></li>
        <li><a class="nav-link" href="/">O nama</a></li>
        <li><a class="nav-link" href="/">Usluge</a></li>
        <li><a class="nav-link" href="/">Blog</a></li>
        <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle">Teretane ▼</a>
            <ul class="dropdown-menu">
                <li><a href="/" class="nav-link">GYM 1</a></li>
                <li><a href="/" class="nav-link">GYM 2</a></li>
                <li><a href="/" class="nav-link">GYM 3</a></li>
            </ul>
        </li>
        <li><a class="nav-link" href="/">Kontaktiraj nas</a></li>
    </ul>

    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>
</nav>