<nav>
    <a href="/">
        <img class="logo" src="{{ url_for('static', filename='slike/logo.png') }}" alt="logo">
    </a>

    <ul class="nav-links" id="nav-links">
        <li><a class="nav-link" href="/">Početna</a></li>
        <li><a class="nav-link" href="{{ url_for('about') }}">O nama</a></li>
        <li><a class="nav-link" href="{{ url_for('services') }}">Usluge</a></li>
        <li><a class="nav-link" href="{{ url_for('blog') }}">Blog</a></li>
        <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle">Teretane ▼</a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('gym1') }}" class="nav-link">GYM 1</a></li>
                <li><a href="{{ url_for('gym2') }}" class="nav-link">GYM 2</a></li>
                <li><a href="{{ url_for('gym3') }}" class="nav-link">GYM 3</a></li>
            </ul>
        </li>
        <li><a class="nav-link" href="{{ url_for('contact') }}">Kontaktiraj nas</a></li>
    </ul>

    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>
</nav>